{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<div style="margin-top: 65px;">
    <img src="https://usa.yamaha.com/files/Category-top-banner_eeb749d314c31791d2b8e830e3c6dcfa.png?impolicy=resize&imwid=1200&imhei=480"
        width="1350px">
    <iframe width="1297" height="728" src="https://www.youtube.com/embed/vH8VNk68IOw" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <!-- <video width="1350" height="400" controls>
        <source src="https://youtu.be/3RYJ_XvTNXY?list=TLGGcSvMvrHYUMgxMTA4MjAyMQ" type=video/ogv>
    </video> -->
</div>

<div class="row">
    <div style=" margin-top: 50px;" class="card mx-5">
        <div class=" header-content container-lg mt-4 ">
            <div class="row justify-content-start align-items-center mb-4">
                <div class="col-md-3">
                    <img src="https://usa.yamaha.com/files/Image-Index_STORIA_1080x1080_7099fa87b262be2ba5e795c665bf0ea9.jpg?impolicy=resize&imwid=396&imhei=396"
                        width="200px">
                </div>
                <div class="col-md-6">
                    <div class="profile-text">
                        <p>a guitar as unique as you are</p>
                        <h1 class="fw-bold fs-2 text-danger text-uppercase">STORIA</h1>
                        <p>Invite music into your life with the stylish and inspiring STORIA series - guitars that
                            reflect your personal style and inspire creativty at a glance</p>
                    </div>
                </div>
                <div class="col text-center">
                    <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                    <h2 class="fw-bold fst-italic fs-5">IDR 5.100.000</h2>
                    <button class="btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 25px;" class="card mx-5">
        <div class=" header-content container-lg mt-4 ">
            <div class="row justify-content-start align-items-center mb-4">
                <div class="col-md-3">
                    <img src="https://usa.yamaha.com/files/Image-Index_FGX5_1080x1080_f11066bb518e8c2faafe1429f9a930b5.jpg?impolicy=resize&imwid=396&imhei=396"
                        width="200px">
                </div>
                <div class="col-md-6">
                    <div class="profile-text">
                        <p>Modern Inspiration and Timeless Design</p>
                        <h1 class="fw-bold fs-2 text-danger text-uppercase">FG/FS Red Label</h1>
                        <p>The FG heritage extends back to the 1966 release of the FG180, the first production acoustic
                            guitar by Yamaha. In the more than half-century since, we have balanced traditional guitar
                            craft with a spirit of constant refinement, pursuing our vision of the ideal folk guitar.
                        </p>
                    </div>
                </div>
                <div class="col text-center">
                    <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now !!</h1>
                    <h2 class="fw-bold fst-italic fs-5">IDR 3.200.000</h2>
                    <button class="btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 25px;" class="card mx-5">
        <div class=" header-content container-lg mt-4 ">
            <div class="row justify-content-start align-items-center mb-4">
                <div class="col-md-3">
                    <img src="https://usa.yamaha.com/files/Image-Index_L_series_1080x1080_65e2acb74bcdd83648d2ea96949e8e5f.jpg?impolicy=resize&imwid=396&imhei=396"
                        width="200px">
                </div>
                <div class="col-md-6">
                    <div class="profile-text">
                        <p>A New Tradition Yours</p>
                        <h1 class="fw-bold fs-2 text-danger text-uppercase">L Series
                        </h1>
                        <p>The L Series offers the perfect combination of traditional and modern: warm, balanced tone
                            that fits perfectly into a solo performance or mix; timeless good looks inspired 50 years of
                            guitar crafting; instant played-in comfort; and stage-ready performance with the Yamaha Zero
                            Impact pickup system.</p>
                    </div>
                </div>
                <div class="col text-center">
                    <h1 class="fw-bold fs-3 text-danger text-uppercase">Limited !!!</h1>
                    <p class="fw-bold fst-italic fs-4">IDR 2.000.000</p>
                    <button class="btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 25px;" class="card mx-5">
        <div class=" header-content container-lg mt-4 ">
            <div class="row justify-content-start align-items-center mb-4">
                <div class="col-md-3">
                    <img src="https://usa.yamaha.com/files/Image-Index_TA_series_1080x1080_ca647220723c8a0e7dc7f3f85c044022.jpg?impolicy=resize&imwid=396&imhei=396"
                        width="200px">
                </div>
                <div class="col-md-6">
                    <div class="profile-text">
                        <p>Acoustic Guitar (R)Evolution</p>
                        <h1 class="fw-bold fs-2 text-danger text-uppercase">Adidas X 19.1 FG</h1>
                        <p>Playing guitar in a great sounding room is the most inspiring, engaging playing experience
                            imaginable – far more enjoyable than in a dry-sounding room like a lounge, office or den.
                            Yamaha’s TransAcoustic Guitar recreates the incredible experience of playing in a rich, live
                            room without needing any external amplification or effects – just the guitar itself. Whether
                            you’re practicing, writing, recording or just playing for fun, the TransAcoustic Guitar will
                            make you play better, longer and with more creativity. Once you’ve experienced it, you’ll
                            never want to play another acoustic guitar again.
                        </p>
                    </div>
                </div>
                <div class="col text-center">
                    <h1 class="fw-bold fs-3 text-danger text-uppercase">Sale !!!</h1>
                    <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">$120</h2>
                    <p class="fw-bold fst-italic fs-4">$89</p>
                    <button class="btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}