{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 65px;">
    <img src="https://www.cortguitars.com/_DATA/banner/912">
</div>
<div style="margin-top: 50px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.cortguitars.com/_DATA/item/1578554020/thumb-GoldEdgeLE2_420x420.jpg"
                    width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR UNLIMITED TOUCH!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Cort Gold Edge</h1>
                    <p>A vintage instrument is the holy grail of acoustic guitar tone. The wood on the top cures and
                        opens up more over time. This unleashes a tonal quality that is missing in new instruments –
                        until now. Using a special process we call ATV (Aged To Vintage), we treat the solid sitka
                        spruce top to give it that big and open tone of a decades-old, highly-sought-after acoustic.
                        This torrefaction process delivers that amazing tone to you right out of the box. .</p>
                </div>
            </div>
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now!!</h1>
                <h2 class="fw-bold fst-italic fs-5">IDR 4.500.000</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.cortguitars.com/_DATA/item/1602039385/thumb-CoreOCMhwood_420x420.jpg"
                    width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CRAFTED FOR INCREADIBLE SOUNDS!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">Cort Core-OC Mahogany</h1>
                    <p>Cort’s new Core Series acoustic guitars are designed with simplicity in mind. Our main goal was
                        to shed away any non-essential flashy features and stay focused on what truly makes acoustic
                        guitars great. The result is an all-solid acoustic guitar, built with Cort’s world-class
                        craftsmanship, that looks simple yet elegant with great playability and natural acoustic sound.
                        The new Core Series is sure to deliver the performance and tone every player has envisioned in a
                        great acoustic guitar.</p>
                </div>
            </div>
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-warning text-uppercase">Shop Now!!</h1>
                <h2 class="fw-bold fst-italic fs-5">IDR 3.500.000</h2>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 25px;" class="card mx-5">
    <div class=" header-content container-lg mt-4 ">
        <div class="row justify-content-start align-items-center mb-4">
            <div class="col-md-3">
                <img src="https://www.cortguitars.com/_DATA/item/1608597829/thumb-G300Probodytop_420x420.jpg"
                    width="200px">
            </div>
            <div class="col-md-6">
                <div class="profile-text">
                    <p>CREATED FOR GIGA SOUND!</p>
                    <h1 class="fw-bold fs-2 text-danger text-uppercase">CORT G300 Pro</h1>
                    <p>The G300 Pro is the new flagship model of the iconic G Series, a boutique-style guitar with
                        modern enhancements that represents the best of what Cort can offer to meet the needs for superb
                        playability, sonic versatility and aesthetic design. Features include a top-grade American
                        Basswood body with 6mm (1/4”) maple top, roasted maple neck and fretboard with Luminlay side dot
                        inlays, stainless steel frets, and two Seymour Duncan® humbuckers that are paired with our 5-way
                        pickup selector for excellent versatility in tone making. And for the first time ever for the G
                        Series, the G300 Pro comes with full 24 frets, making it a truly modern guitar for the players
                        enjoying soloing in the higher fret positions.</p>
                </div>
            </div>
            <div class="col text-center">
                <h1 class="fw-bold fs-3 text-danger text-uppercase"> MEGA SALE!!!</h1>
                <h2 class="fw-normal fst-italic fs-5 text-decoration-line-through">IDR 9.500.0000</h2>
                <p class="fw-bold fst-italic fs-4">IDR 7.000.000</p>
                <button class="btn">Buy Now</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}