{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

</html>

{% block content %}
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2017/08/07/07/48/sky-2601156_960_720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="header">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-dark">
                    <p>Welcome, Jombls & Crocs!</p>
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">Dating Simulator</h1>
                    <h2>From A to Z, All Types is Ready</h2>
                    <p>Find your best and top quality partner here!</p>
                    <button class="btn btn-danger">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mt-4 mb-4">
                    <h2 class="fw-bold"> Contact me for Support </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/546/546394.png" width="60x"></span>
                    <h5 class="fw-bold fs-4 m-0">Email</h5>
                    <p class="text-muted m-0">ramadhanappp@gmail.com</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/2111/2111532.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Linkedin</h5>
                    <p class="text-muted m-0">Ramadhana Prasetiya</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/1051/1051326.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Github</h5>
                    <p class="text-muted m-0">ramadhanappp</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/87/87390.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Instagram</h5>
                    <p class="text-muted m-0">@ramadhanappp</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/546/546394.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Email</h5>
                    <p class="text-muted m-0">ramadhanappp.bgr@gmail.com</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/2111/2111532.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Linkedin</h5>
                    <p class="text-muted m-0">Ramadhana Prasetiya</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/1051/1051326.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Github</h5>
                    <p class="text-muted m-0">ramadhanappp</p>
                </div>
                <div class="card d-flex mb-3 p-3">
                    <span><img src="https://image.flaticon.com/icons/png/512/87/87390.png" width="60px"></span>
                    <h5 class="fw-bold fs-4 m-0">Instagram</h5>
                    <p class="text-muted m-0">ramadhanappp</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}