{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dating Simulator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' media='screen' href="{%static 'css/style.css' %}">
</head>

<body>

</body>

</html>


{% block content %}
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2016/11/29/03/36/woman-1867093_960_720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="header">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-light">
                    <p class="fs-6 text-light">Welcome Boys</p>
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">Dating Simulator</h1>
                    <h2 class="text-light">From A to Z, All Types is Ready</h2>
                    <p class="text-light">Find your best and top quality partner here!</p>
                    <button class="btn btn-danger">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container d-flex">
            <img src="{% static 'images/yessy2.jpg' %}" height="420">
            <div class="card p-5">
                <h1>Yessy Eka Puspita Sari</h1>
                <h2 style="font-size:30px">21 Tahun</h2>
                <h3 style="font-size: 16px;">Deskripsi:</h3>
                <h4 style="font-size: 14px;">Samarinda peeps, smartgirl but goblok kadang-kadang, suka order gofood
                    daripada masak,
                    jomblo kurang lebih 2 tahun, belum menemukan pasangan yang pas, dan tidak dapat move on dari mantan
                    sebelumnya, punya kelainan kadang suka tidur duluan kalo lagi zoom, kalo waktu belajar paling
                    pinter, tapi waktu ulangan suka panik dan bingung sendiri</h4>
                <a class='btn btn-success'>Whatsapp</a>
                <a class="btn btn-outline-dark">Blacklist</a>
                <a style="color: slateblue;" class="btn btn-outline-danger">Instagram</a>
            </div>
        </div>
        <div class="container d-flex">
            <img src="{% static 'images/devi.jpg' %}" height="420">
            <div class="card p-5">
                <h1>Devi Fachriani Ahmada</h1>
                <h2 style="font-size:30px">20 Tahun</h2>
                <h3 style="font-size: 16px;">Deskripsi:</h3>
                <h4 style="font-size: 14px;">Gresik peeps, aslab sisman, belum menemukan pasangan yang cocok, sangat
                    enak buat diajak ngobrol, kurang suka olahraga namun mau bila terpaksa, baik
                    banget, dan masih suka bimbang kadang-kadang, waktu belajar kadang nongol kadang menghilang, waktu
                    ulangan suka bingung dan panik wkwk, teman pertama di gresik waktu pertama kali masuk kampus, dulu
                    bucin sekarang mungkin kapok dengan kebucinan</h4>
                <a class='btn btn-success'>Whatsapp</a>
                <a class="btn btn-outline-dark">Blacklist</a>
                <a style="color: slateblue;" class="btn btn-outline-danger">Instagram</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}