{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Coffe Drip</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type='text/css' media='screen' href="{%static 'css/style.css' %}">
</head>

<body>

</body>

</html>


{% block content %}
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2016/02/19/11/42/coffee-1209897_960_720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div class="header">
    <div class="header-content container-lg">
        <div class="row min-vh-100 align-items-center">
            <div class="col-md-12">
                <div class="profile-text text-light">
                    <p class="fs-6 text-light">Welcome we ready to serve you with the best coffee</p>
                    <h1 class="fw-bold fs-1 text-danger text-uppercase">Santos Coffe Store</h1>
                    <h2 class="text-light">You can scroll down to explore the coffe</h2>
                    <p class="text-light">Find your drip and take the rest</p>
                    <button class="btn btn-danger">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="container d-flex">
            <img src="https://akcdn.detik.net.id/community/media/visual/2016/12/14/584ad8d7-2d35-4468-b6fe-aee083fa3aaa.jpg?a=1"
                width="400px"">
            <div class=" card p-5">
            <h1>Espresso</h1>
            <h2 style="font-size:30px">Medium to Strong</h2>
            <h3 style="font-size: 16px;">Description :</h3>
            <h4 style="font-size: 14px;">Most people know that a shot of espresso is stronger than the same amount
                of coffee, but what's the difference, exactly? There isn't anything inherently different about the
                beans themselves, but when beans are used to make espresso they're more finely ground, and they're
                brewed with a higher grounds-to-water ratio than what's used for coffee. The result is a thicker,
                more concentrated liquid with a bolder flavor. A single espresso is a one-ounce shot. It's also the
                base for popular coffee-shop drinks like lattes and cappuccinos.</h4>
            <a class='btn btn-success'>Whatsapp</a>
            <a class="btn btn-outline-dark">Add to Bag</a>
            <a style="color: slateblue;" class="btn btn-outline-danger">Favorites</a>
        </div>
    </div>
    <div class="container d-flex">
        <img src="https://cdn.pixabay.com/photo/2021/08/11/05/01/05-01-19-128_960_720.jpg" height="420">
        <div class="card p-5">
            <h1>Devi Fachriani Ahmada</h1>
            <h2 style="font-size:30px">20 Tahun</h2>
            <h3 style="font-size: 16px;">Deskripsi:</h3>
            <h4 style="font-size: 14px;">Gresik peeps, aslab sisman, belum menemukan pasangan yang cocok, sangat
                enak buat diajak ngobrol, kurang suka olahraga namun mau bila terpaksa, baik
                banget, dan masih suka bimbang kadang-kadang, waktu belajar kadang nongol kadang menghilang, waktu
                ulangan suka bingung dan panik wkwk, teman pertama di gresik waktu pertama kali masuk kampus, dulu
                bucin sekarang mungkin kapok dengan kebucinan</h4>
            <a class='btn btn-success'>Whatsapp</a>
            <a class="btn btn-outline-dark">Blacklist</a>
            <a style="color: slateblue;" class="btn btn-outline-danger">Instagram</a>
        </div>
    </div>
</div>
</div>
{% endblock content %}