{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<div style="margin-top: 65px;">
    <img src="https://usa.yamaha.com/files/Category-top-banner_eeb749d314c31791d2b8e830e3c6dcfa.png?impolicy=resize&imwid=1200&imhei=480"
        width="1350px">
    <iframe width="1297" height="728" src="https://www.youtube.com/embed/vH8VNk68IOw" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <!-- <video width="1350" height="400" controls>
        <source src="https://youtu.be/3RYJ_XvTNXY?list=TLGGcSvMvrHYUMgxMTA4MjAyMQ" type=video/ogv>
    </video> -->
</div>

<div class="row">
    <div class="col-lg-">
        <div class="container d-flex justify-content-center">
            <div class="card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-1_12665229488d4cf078e7fcd4b5cf37de.png">
                <h1>Accoustic Gitar</h1>
                <a class="btn btn-dark" style="size: 20px;" href="../akustik_yamaha">See more</a>
            </div>
            <div class=" card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-2_5b2f0ec53ed14a9cc1da16e516a92e09.png">
                <h1>Classical Gitar</h1>
                <p class=" btn btn-dark" style="size: 20px;">See more</p>
            </div>
            <div class=" card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-5_3de2e73fc881d7d39175b9d539f1caea.png">
                <h1>SIlent Gitar</h1>
                <p class=" btn btn-dark" style="size: 20px;">See more</p>
            </div>
        </div>
    </div>

    <div class=" col-lg-">
        <div class="container d-flex justify-content-center">
            <div class=" card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-3_aab55aaba94a0cdb3cbe54899879ca7c.png">
                <h1>Electric Gitar</h1>
                <p class=" btn btn-dark" style="size: 20px;">See more</p>
            </div>
            <div class=" card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-4_a4da0822fac94268b5769a77a13e5b33.png">
                <h1>Electric bass</h1>
                <p class=" btn btn-dark" style="size: 20px;">See more</p>
            </div>
            <div class=" card p-2 white" style="width: 23rem;">
                <img src="https://usa.yamaha.com/files/lineup-6_1aede44dacf8aef6d86cd609e16ba783.png">
                <h1>Accesories</h1>
                <p class=" btn btn-dark" style="size: 20px;">See more</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}